
<h1>Login</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= @user %>

<%= form_tag "/login", method: :post do %>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  
  <br>
  <input type="submit" value="Log In">

<% end %>