<h1> User Dashboard </h1>


<h5>
  Welcome 
  <%= @user.email %>
  <br>
  Here are your sent invites:
  <br>
  <br>
  <% @user.invites.each do |invite| %>
    <%=invite["message"]%><br>
    <%=invite["recipient"]%><br>
    <%=invite["status"]%><br><br>
  <%end%>
</h5>